.login-form{
    margin: 0 align;
    text-align: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding:50px;
    margin-top: 80px;
}

.login-form h1{
    margin-bottom:15px ;
}

.log-btn{
     
width:350px;
border-radius:20px;
}

.text{
    margin-top:10px;
}